{% extends "base.html" %}
{% block content %}
    <h3>Observation Detail</h3>
    {% include "./snippets/observation_panel.html" with panel_class="primary" %}
    <div class="btn-group" role="group" aria-label="Observation Detail Navigation">
      <a href="{% url 'observation-update' object.pk %}"<button type="button" class="btn btn-default">Edit</button></a>
      <a href="{% url 'observation-delete' object.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    </div>
{% endblock %}
