{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ form.media }}
    {% if object.pk %}
        <h3>Edit Observation</h3>
    {% else %}
        <h3>Add New Observation</h3>
    {% endif %}
    <form method="post">
        {% bootstrap_form form %}
            {% csrf_token %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "floppy-disk" %} Submit
            </button>
            {% endbuttons %}
    </form>
{% endblock %}
