{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h3>Observation Detail</h3>
    {% include "./snippets/observation_panel.html" with panel_class="primary" %}
    <strong>Delete this record?</strong>
    <form method="post">

        {% csrf_token %}

        {% buttons %}
        <button id="cancelButton" type="button" class="btn btn-primary">
            {% bootstrap_icon "remove" %} Cancel
        </button>
        <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "erase" %} Confirm
        </button>
        {% endbuttons %}
    </form>
    <script type="text/javascript">
        document.getElementById("cancelButton").onclick = function () {
            location.href = "{{ object.get_absolute_url }}";
        };
    </script>
{% endblock %}
