[Unit]
Description=Poolmaster container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm poolmaster
ExecStart=/usr/bin/docker run -v /etc/poolmaster/local_settings.py:/usr/src/app/poolmaster/poolmaster/settings/local_settings.py --rm --name poolmaster -p 8000:8000 cgspeck/poolmaster
ExecStop=-/usr/bin/docker stop -t 2 poolmaster

[Install]
WantedBy=default.target
